Nav { 
    text-transform: uppercase;
    font-family: fantasy;
    font-size: 1.3rem;
    font-weight: lighter;
}

.me-auto {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.navbar-expand {
    width: 100vw;
}